html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
	background: white;
}

button,
input[type="checkbox"] {
	outline: none;
}

.hidden {
	display: none;
}

.todoapp {
	position: relative;
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	color: #cccccc;
}

.todoapp input::-moz-placeholder {
	font-style: italic;
	color: #cccccc;
}

.todoapp input::input-placeholder {
	font-style: italic;
	color: #cccccc;
}

.new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 16px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.2em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.new-todo {
	padding: 16px 16px 16px 60px;
	background: rgb(249, 249, 249);
	border: none;
}

.header {
	background: rgb(249, 249, 249);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.footer {
	color: #777;
	text-align: center;
	border-top: 1px solid #f3f3e6;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	padding: 6px 10px 33px;
	background: #f9f9f9;
	font-size: 12px;
}

label[for='toggle-all'] {
	display: none;
}

.toggle-all {
	position: absolute;
	top: -55px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none; /* Mobile Safari */
}

.toggle-all:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
	color: #737373;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 16px;
	height: 50px;
	border-bottom: 1px solid #ededed;
}

.todo-list li.editing {
	padding: 0;
}

.todo-list li .view {
	height: 49px;
}

.todo-list .edit {
	display: block;
	box-sizing: border-box;
	padding: 13px 17px 15px 60px;
	width: 100%;
	display: none;
	height: 49px;

}

.todo-list li.editing .view {
	display: none;
}

.todo-list li.editing .edit {
	display: block;
}

.todo-list li .toggle {
	text-align: center;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.todo-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li label {
	white-space: pre;
	word-break: break-word;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	font-size: 16px;
}

.todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 50%;
	right: 0px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 30px;
	line-height: 1em;
	color: #cc9a9a;
}

.todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-list li .destroy:after {
	content: '×';
	vertical-align: text-top;
	font-weight: 300;
}

.todo-list li:hover .destroy {
	display: block;
}

.todo-count {
	float: left;
	text-align: left;
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0px;
	padding: 6px;
	vertical-align: top;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 13px;
}

.filters li {
	display: inline-block;
}

.filters li a {
	color: inherit;
	display: inline-block;
	margin: 0px 2px;
	padding: 0px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 2px;
}

.filters li a:hover {
	border-color: rgb(220, 220, 220);
}

.filters li a.selected {
	border-color: rgb(220, 220, 220);
}

.clear-completed,
html .clear-completed:active {
	color: #30a0ff;
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

.clear-completed:hover {
	text-decoration: underline;
}

/* Label showing the render-count */
h1 {
	font-size: 16px;
	font-weight: bold;
	color: red;
	position: absolute;
	top: 10px;
	right: 10px;
	line-height: 2em;
	margin: 0;
	padding: 0;
	display: block;
	transform: translate3d(0px,0px,0px);
	backface-visibility: hidden;
}

label {
	transform: translate3d(0px,0px,0px);
	backface-visibility: hidden;
}