<!doctype html>
<html lang="en" data-framework="react">
	<head>
		<meta charset="utf-8">
		<title>Vue • Todos</title>
		<link rel="stylesheet" href="../../shared/app.css">
		<script src="../../shared/api.js"></script>
	</head>
	<body>
		<section class="todoapp">
		  <header class="header">
		    <input class="new-todo"
		      autofocus autocomplete="off"
		      placeholder="What to do?"
		      v-model="newTodo"
		      @keyup.enter="addNewTodo">
		  </header>
		  <section class="main" v-show="st.todos.length" v-cloak>
		    <ul class="todo-list">
		      <li v-for="todo in st.todos"
		        class="todo"
		        :key="todo.id"
		        :class="{ completed: todo.completed, editing: todo == editedTodo }">
		        <div class="view">
		          <input class="toggle" type="checkbox" v-model="todo.completed">
		          <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
		          <button class="destroy" @click="removeTodo(todo)"></button>
		        </div>
		        <input class="edit" type="text"
		          v-model="todo.title"
		          v-todo-focus="todo == editedTodo"
		          @blur="doneEdit(todo)"
		          @keyup.enter="doneEdit(todo)"
		          @keyup.esc="cancelEdit(todo)">
		      </li>
		    </ul>
		  </section>
		  <footer class="footer" v-show="st.todos.length" v-cloak>
		    <span class="todo-count">
		      <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
		    </span>
		    <ul class="filters">
		      <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
		      <li><a href="#/active" :class="{ selected: visibility == 'active' }">Active</a></li>
		      <li><a href="#/completed" :class="{ selected: visibility == 'completed' }">Completed</a></li>
		    </ul>
		    <button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
		      Clear completed
		    </button>
		  </footer>
		</section>
		<script src="vue.min.js"></script>
		<script src="index.js"></script>
	</body>
</html>
