<li
    class="todo"
    class="{{if @model.completed ' completed'}}{{if (eq @todo @editedTodo) ' editing'}}">
    <div class="view">
        <input class="toggle" type="checkbox" checked={{@todo.completed}}>
        <label dblclick="editTodo(todo)">{{ @todo.title }}</label>
        <button class="destroy" click="removeTodo(todo)"></button>
    </div>
    <input class="edit" type="text"
        v-model="todo.title"
        v-todo-focus="todo == editedTodo"
        blur="doneEdit(todo)"
        keyupenter="doneEdit(todo)"
        keyupesc="cancelEdit(todo)">
</li>